{% extends 'base.html.twig' %}

{% block title %}Welcome to Your New App!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card">
			<h1>Hello, World! 🚀</h1>
			<p>
				Welcome to your brand new Symfony application. 
				            We've set up a modern, high-performance environment just for you.
				<br>
				It's time to build something amazing.
			</p>

			<a href="https://symfony.com/doc" class="btn">Read Documentation</a>

			<div class="tech-stack">
				<span class="tech-item">Symfony 7.4</span>
				<span class="tech-item">PHP 8.3</span>
				<span class="tech-item">AssetMapper</span>
				<span class="tech-item">Twig</span>
			</div>
		</div>
	</div>
{% endblock %}
