<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon site{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/faq.css') }}">
</head>

<body>

{% block body %}{% endblock %}

</body>
</html>
