{% extends 'base.html.twig' %}

{% block title %}Welcome to Dina
{% endblock %}

{% block body %}
	<div style="margin: 50px; text-align: center;">
		<h1>Welcome to Dina! 🚀</h1>

		{% if app.user %}
			<p>Hello,
				{{ app.user.email }}!</p>
			<p>You are logged in.</p>
			<a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
		{% else %}
			<p>Please login or register to continue.</p>
			<a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
			<a href="{{ path('app_register') }}" class="btn btn-success">Register</a>
		{% endif %}
	</div>
{% endblock %}
