{% extends 'base.html.twig' %}

{% block title %}Edit Prosect{% endblock %}

{% block body %}
    <h1>Edit Prosect</h1>

    {{ include('prosect/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_prosect_index') }}">back to list</a>

    {{ include('prosect/_delete_form.html.twig') }}
{% endblock %}
